{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{% static '/css/register.css' %} " rel="stylesheet" />
      <title></title>
          <script language="JavaScript" type="text/javascript" src="{% static '/src/scripts/jquery.min.js' %}"></script>
   </head>
   <body>
      <div class="login-page">

         {% if messages %}
         <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            </li>
            {% endfor %}
         </ul>
         {% endif %}
         <div class="form">

            <form action="/owner/register" class="register-form" method="POST">
               {% csrf_token %}
                   <h3>Sign Up for Free</h3>
               <input type="text" required name="first_name" placeholder="Name" autocomplete="off" />
               <input type="text" required  name="moblie" placeholder="Mobile Number" autocomplete="off" />
               <input type="text" required pattern="[^ @]*@[^ @]*" name="email" placeholder="E-mail" />
               <input type="password" required name="password" placeholder="Password" autocomplete="off" />
               <button>create</button>
               <p class="message"> <b>Already registered? </b><a href="#">Sign In</a></p>
            </form>
            <form action="/owner/register" class="login-form" method="POST">
               {% csrf_token %}
               <h3>Welcome Back!</h3>
               <input type="text" name="moblie" placeholder="Mobile Number" />
               <input type="password" name="password" placeholder="Password" />
               <input type="hidden" name="islogin" value="true" />
               <button>login</button>
               <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
         </div>
      </div>
      <script type="text/javascript">
         $('.message a').click(function(){
          $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
         });
      </script>
   </body>
</html>